#categories {
  display: flex;
  justify-content: space-around;
}

#gallery {
  display: flex;
  gap: 20px;
  padding: 0;

}

#gallery li:not(:last-child) {
  margin-right: 20px;
}

#gallery li {
  list-style: none;
  justify-content: center;
}

#counter {
  margin-bottom: 30px;
}

img {
  background-size: contain;
}

h1 {
  margin: 0;
  margin-bottom: 30px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

#font-size-control {
  display: block;
  margin-top: 30px;
}

#controls {
  margin-top: 30px;
}
