.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}

li:not(:last-child) {
  margin-right: 20px;
}

#counter {
  margin-bottom: 30px;
}

h1 {
  margin: 0;
  margin-bottom: 30px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

#font-size-control {
  display: block;
  margin-top: 30px;
}

#controls {
  margin-top: 30px;
}
